@* Generator: Template TypeVisibility: Internal GeneratePrettyNames: True *@
@using System
@using System.Collections.Generic
@using EmailTemplateLibrary.Dashboard
@using EmailTemplateLibrary.Dashboard.Pages
@inherits RazorPage
@{
    Layout = new LayoutPage();
}

<div class="row">
    Home page
</div>